{% extends "base.html.twig" %}

{% block title %}Card Game{% endblock %}

{% block main %}
<h1>Card game</h1>
<h2>Struktur</h2>
<p>Jag utgick lite ifrån föreläsningen med Mikael för detta kursmoment för att bestämma strukturen för mina klasser. </p>

{% endblock %}