{% extends "blackjack/base-start.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}
    <h1>Projekt</h1>
    {% block article %}
    <h1>Projektet för MVC kursen.</h1>
    <p>Jag har valt att göra ett blackjack spel som mitt slutprojekt. Projektet är en avslutning på kursen MVC. Spelaren kommer kunna välja mellan att spela ut 1-3 händer samt placera bets för varje hand. Spelreglerna kommer vara enligt standardblackjack regler, för djupare genomgång läs här: <a href="https://sv.wikipedia.org/wiki/Black_Jack">Black Jack</a><br><br>Black Jack handlar om att få så nära 21 poäng utan att gå över (bli tjock). Det svåra är att hamna på 21 eller lägre, men samtidigt ha högre än banken då banken vinner på lika poäng. </p>
    {% endblock %}
{% endblock %}