<footer>
   
    <a href="{{ asset('img/casino-loggo.jpeg') }}">
        <img src="{{ asset('img/casino-loggo.jpeg') }}" alt="Logo">
    </a>
     <div class="footer-content">
        <p>&copy; Didrik Varma</p>
        <p>divr24</p>
    </div>
</footer>