{% extends "blackjack/base-start.html.twig" %}

{% block title %}Card Game{% endblock %}

{% block body %}
<div class="table-top">
    <form action="{{ path('projNamePost') }}" method="post">
        <label for="player_name">Ange spelarens namn:</label>
        <input type="text" name="player_name" required placeholder="Ange ditt namn" />
        <button type="submit" class ="enter-name">Spela Black Jack</button>
    </form>
</div>
{{ include('flash.html.twig') }}
<h2></h2>
<div class="table-bottom">
    <div class="hand">Hand 1</div>
    <div class="hand">Hand 2</div>
    <div class="hand">Hand 3</div>
</div>
{% endblock %}