{% extends "base.html.twig" %}

{% block title %}Card Game{% endblock %}

{% block main %}
<div class="game_21">
    <h1>Card Game 21</h1>
    <p> 
    <h1>Regler</h1>
    <h2>Kortvärden</h2>
    <p>* Ess 1 eller 14 poäng. <br>* Knekt 11 poäng, Dam 12 poäng, Kung 13 poäng. <br>* Resterande kort sina siffervärden</p>
    <h2>Spelregler</h2>
    <p>* Start: <br>Varje spelare får ett kort.<br><br>* Spelrunda:<br> Över 21 är förlust<br>Exakt 21 är vinst<br>Under 21 kan man stanna eller ta fler kort.<br>När spelaren stannar drar banken kort tills han är lika med spelaren eller får ver 21.<br><br>* Mål: <br>Få högra poäng än banken utan att gå över 21.<br><br>* Avslutat spel:<br>Spelare får över 21 poäng<br>Spelare stannar med sina kort.<br><br> * Vem vinner?<br> Spelaren vinner ifall den får 21 poäng exakt eller får högre poäng än banken under 21. Banken vinner på lika poäng.</p>
    <br><br>
    
    <a href="{{ path('document') }}"><h2>Till dokumentationen</h2></a>
    <a href="{{ path('game_start') }}"><button class ="game_start">Spela kortspel 21</button></a>
</div>
{% endblock %}