{% extends "base.html.twig" %}

{% block title %}Card Game{% endblock %}

{% block main %}
<a href="../deck">Link to draw</a>


<h1>Card game</h1>


<p>Kort: {{ deck }}</p>
<p>Kort kvar: {{ draw_card }}</p>

{% endblock %}