{% extends "base.html.twig" %}

{% block title %}Card Game{% endblock %}

{% block main %}
<a href="../deck">Link to draw</a>


<h1>Card game</h1>


<p>Kort: {{ draw_card }} {{ draw_value }}</p>
<p>Kort kvar: {{ amount_left }}</p>

{% endblock %}