{% extends "base.html.twig" %}

{% block title %}Card Game{% endblock %}

{% block main %}
<h1>Card game</h1>
<h2>Draget kort:</h2>

<p>Krt: {{ draw_card }}</p>
<p>Kort kvar: {{ draw_card }}</p>

{% endblock %}