{% extends "base.html.twig" %}

{% block title %}Card Game{% endblock %}

{% block main %}


<h1>Card game</h1>


<div class="deck">
    {% for i in range(0, 3) %}
        <ul>
            {% for card in drawn_cards|slice(i * 13, 13) %}
               {% set symbol = card|slice(-1) %}
                <li class="card {% if symbol == '♥' or symbol == '♦' %}red{% else %}black{% endif %}">
                    {{ card }}
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
</div>
<p>Kort kvar: {{ deck }}</p>

{% endblock %}