{% extends "base.html.twig" %}

{% block title %}Draw{% endblock %}

{% block main %}
<h1>Draw [START]</h1>

<p>How many cards do you want to draw?</p>

<form method="post" action="{{ path('card_init_post') }}">
    <input type="number" name="num_cards" min="1" max="52" value={{ number }}>
    <input type="submit" name="Draw" value="Draw cards"onClick="this.form.action='{{ path('card_init_post') }}'">
    <a href="{{ path('api_draw_result') }}"><input type="submit" name="result" value="Show result"></a>
</form>

{% endblock %}