{% extends "base.html.twig" %}

{% block title %}Card Game{% endblock %}

{% block main %}


<h1>Card game</h1>


<div class="deck">
    {% for i in range(0, 3) %}
        <ul>
            {% for card in deck|slice(i * 13, 13) %}
                <li>{{ card }}</li>
            {% endfor %}
        </ul>
    {% endfor %}
</div>

{% endblock %}