body {
    background-color: #034694;
    margin: 0 auto;
    max-width: 1000px;
    padding: 10px;
}

h1 {
    border-bottom: 4px double #ccc;
}


header {
    height: 200px;
    background: url('../images/chelsea_stadium.jpg');
}

nav {
    background-color: #034694;
    height: 150px;
    border: #DBA111 solid 2px;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
}

li {
    text-shadow: 1px 1px #D1D3D4;

}

a {
    color: #DBA111;
    text-decoration: none;
}

a:hover {
    color: #EE242C;
}

img {
    max-width: 300px;
}

p {
    color: #DBA111;
}

footer {
    background-color: black;
    color: white;
    border: #DBA111 2px solid;
    border-radius: 20px;
    padding: 10px;
    height: 75px;
    margin-top: 200px;
}

.deck {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.deck ul {
    gap: 30px;
}
.red {
    color: red;
}

.black {
    color: black;
}

.game_start {
    width: 150px;
    height: 75px;
    color: black;
    border: double black 10px;
    border-radius: 20%;
    align-self: center;
    margin-top: 2rem;
}

.game_start a {
    color: black;
}

.game_start:hover {
    transform: scale(1.2);
}

.game_21 {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
}

.table {
    background-color: #0b6623;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: #fff;
}

.table-top,
.table-bottom {
    width: 80%;
    height: 250px;
    background-color: #054016;
    border-radius: 0 0 50% 50%;
    border: solid black 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: center;
}

.table-bottom {
    border-radius: 50% 50% 0 0;
    margin-top: auto;
}

.start_game {
    width: 150px;
    height: 75px;
    color: black;
    border: double black 10px;
    border-radius: 20%;
    margin-top: 2rem;
}

.start_game a {
    color: black;
}

.start_game:hover {
    transform: scale(1.2);
}

.deck_21 {
    font-size: 40px;
}

.button_play {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}

.draw_card {
    width: 100px;
    height: 50px;
    color: black;
    border: double black 10px;
    border-radius: 20%;
    align-self: center;
}

.stand {
    width: 100px;
    height: 50px;
    color: white;
    border: double #6d0101 10px;
    border-radius: 20%;
    align-self: center;
    background-color: red;
}

.stand:hover {
    transform: scale(1.1);
}

.draw_card:hover {
    transform: scale(1.1);
}

.flash-warning {
    background-color: red;
    width: 300px;
    height: 70px;
    text-align: center;
    font-size: 2rem;
    margin-top: 100px;
    padding-top: 30px;
    border: yellow 10px dotted;
    border-radius: 30% 30% 5% 5%;
}

.flash-win {
    background-color: #1E1F3B;
    color: #FFD700;
    width: 300px;
    height: 70px;
    text-align: center;
    font-size: 2rem;
    margin-top: 100px;
    padding-top: 30px;
    border: #FFFACD 10px dotted;
    border-radius: 30% 30% 5% 5%;
}

.new_game {
    width: 100px;
    height: 50px;
    color: black;
    border: double black 10px;
    border-radius: 20%;
    align-self: center;
    margin-top: 50px;
}

.new_game:hover {
    transform: scale(1.1);
}

.example-wrapper img {
    width: 150px;
    height: 200px;
}


form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border: #DBA111 solid 2px;
}

input[type=submit] {
    height: 50px;
    width: 200px;
    border: #DBA111 solid 2px;
    background-color: rgb(255, 246, 116);
}

.library-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fdfdfd;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.library-table thead {
    background-color: #034694;
    color: white;
}

.library-table th,
.library-table td {
    padding: 12px 15px;
    text-align: left;
    border: 1px solid #FFD700;
}


.library-table img {
    height: 150px;
    object-fit: cover;
    border-radius: 4px;
}

.update {
    margin-left: 100px;
    width: 150px;
    height: 75px;
    color: black;
    border: double black 10px;
    border-radius: 20%;
    margin-top: 2rem;
}

.delete {
    margin-left: 250px;
    width: 150px;
    height: 75px;
    background-color: red;
    color: white;
    border: double black 10px;
    border-radius: 20%;
    margin-top: 2rem;
}

.update:hover {
    transform: scale(1.2);
}

.delete:hover {
    transform: scale(1.2);
}

.tillbaka {
    margin-left: 120px;
    width: 150px;
    height: 75px;
    color: black;
    border: double black 10px;
    border-radius: 20%;
    margin-top: 4rem;
}

.tillbaka:hover {
    transform: scale(1.2);
}