body {
    background-color: #0b3d0b;
    margin: 0 auto;
    max-width: 1500px;
    color: #fff;
}

.table {
    background-color: #026b1c;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: #fff;
}

p {
    margin: 20px;
}

h1 {
    border-bottom: 4px double #ccc;
}

h2 {
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 4px double #ccc;
    margin-top: auto;
    margin-right: auto;
    margin-left: 10px;
}

h2 img {
    border-radius: 50%;
    width: 30px;
    padding-top: 0;
}

h3 {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.5rem;
}

h3 img {
    border-radius: 50%;
    width: 30px;
    padding-top: 0;
}

nav {
    height: 50px;
    font-size: 3rem;
    border-bottom: #ccc dashed 5px;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 150px;
}

li {
    text-shadow: 3px 3px #000;

}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #EE242C;
    text-shadow: 2px 2px #ccc;
}

img {
    max-width: 300px;
}

footer {
    background-color: black;
    color: white;
    border: #DBA111 2px solid;
    border-radius: 20px;
    padding: 20px;
    margin-top: 200px;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.footer-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

footer img {
    width: 100px;
    border-radius: 50%;
}

.start_game {
    width: 300px;
    height: 150px;
    color: #ccc;
    border: outset #DBA111 5px;
    border-radius: 20%;
    margin-top: 4rem;
    background-color: #000;
    font-size: 2rem;
    box-shadow: 0 4px 10px rgba(100, 50, 50, 0.7);
    align-self: center;
    transition: all 0.2s ease-in-out;
}

.start_game:hover {
    transform: scale(1.2);
    background-color: #b71c1c;
    box-shadow: 0 0 20px #DBA111;
}

.table-top {
    width: 60%;
    height: 250px;
    background-color: #054016;
    border: solid black 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: center;
}

.table-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 85%;
    height: 280px;
    border-radius: 30% 30% 0 0;
    border: solid #DBA111 3px;
    padding: 10px;
    box-sizing: border-box;
    gap: 30px;
}

.hand {
    flex: 1;
    margin: 0 10px;
    background-color: #0b3d0b;
    border: 2px solid #DBA111 ;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    height: 200px;
    width: 250px;
    margin-top:  auto;
    gap: 10px;
}

.place_bet {
    width: 150px;
    height: 75px;
    color: #fff;
    background-color: #1e1e1e;
    border: 3px solid #DBA111;
    border-radius: 15px;
    font-size: 1.4rem;
    font-weight: 800;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
    transition: all 0.2s ease-in-out;
    margin-bottom: 20px;
}

.place_bet:hover {
    background-color: #DBA111;
    color: #000;
    transform: scale(1.2);
    box-shadow: 0 0 20px #DBA111;
}

.red {
    color: red;
    padding: 10px 3px;
    border: solid black 1px;
    margin: 0;
    background-color: white;
    border-radius: 15%;
}

.black {
    color: black;
    padding: 10px 3px;
    border: solid black 1px;
    margin: 0;
    background-color: white;
    border-radius: 15%;
}

.empty-card {
    border-radius: 15%;
    border: solid black 1px;
    margin: 0;
    background-color: white;
    color: black;
    font-size: 3rem;
}

.red-bank {
    color: red;
    font-size: 2rem;
    padding: 10px 3px;
    border: solid black 1px;
    margin: 0;
    background-color: white;
    border-radius: 15%;
}

.black-bank {
    color: black;
    padding: 10px 3px;
    border: solid black 1px;
    margin: 0;
    background-color: white;
    border-radius: 15%;
    font-size: 2rem;
}

.deckBlackJack {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.buttons-bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 85%;
    padding: 10px;
    box-sizing: border-box;
    gap: 30px;
}

.stop {
    width: 150px;
    height: 75px;
    color: #fff;
    background-color: #ff0000;
    border: 3px solid #DBA111;
    border-radius: 15px;
    font-size: 1.4rem;
    font-weight: 800;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
    transition: all 0.2s ease-in-out;
    margin-bottom: 20px;
}

.stop:hover {
    background-color: #ba0000;
    color: #fff;
    transform: scale(1.2);
    box-shadow: 0 0 20px #ff4d4d;
}

.flash-warning {
    background-color: red;
    width: 300px;
    height: 70px;
    text-align: center;
    font-size: 2rem;
    margin-top: 100px;
    padding-top: 30px;
    border: yellow 10px dotted;
    border-radius: 30% 30% 5% 5%;
}

.flash-blackjack {
    background: linear-gradient(45deg, gold, orange, gold);
    width: 350px;
    height: 80px;
    text-align: center;
    font-size: 2.2rem;
    font-weight: bold;
    color: black;
    margin: 100px auto;
    padding-top: 25px;
    border: 8px solid gold;
    border-radius: 50px 50px 20px 20px;
    box-shadow: 0 0 20px gold;
}