{% extends "base.html.twig" %}

{% block title %}API{% endblock %}

{% block body %}
    <h1>API</h1>
    {% block article %}
    <a href="/api/quote">Link to quotes</a>
    {% endblock %}
{% endblock %}