{% extends "base.html.twig" %}

{% block title %}Om mig{% endblock %}

{% block body %}
    <h1>Didrik Varma</h1>
    <a href="{{ asset('img/snygg_skaning.jpg') }}">
        <img src="{{ asset('img/snygg_skaning.jpg') }}" alt="Mig">
    </a>
{% endblock %}