{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}
    <div id="content">
        <h1 id ="kmom01">Kmom01</h1>
        <p>Vi tidigare kunskap inom objektorientering kommer bara från det vi lärt oss i tiidgaree kurser. Ingen större erfarenhet direkt. PHPs modell är likt andra språk. Claserna ärver från varandra och man skaparar classer för att kunna hanytera och strukturera upp koden tydligare ochb enklare. Jag tycker att strukturen för uppgiften är ganska bra uppdelad. Man förstår sig på hur Mikael la upp koden från början och kunde utgå från det. Routsen var simpla att förstå sig på. Jag har lite svårare att just förtå kanske hur man skapar nya classer och deras koppling då Mikael inte gick igenom det allt för mycket, men grundprincipen förstår jag. PHP the right way är en bra källa för att hitta den lilla extra kodsnutten man kanske glömt eller helt enkelt inte lärt sig än. Det jag tyckte var extra värdefullt var delen med tid då jag använde hjälpen där för att klara uppgiften, även om vi använt tid i webtec var det bra att färska upp minnet med. Mitt TIL detta kmom är nog hur man kan skapa routes och liknande med hjälp av php och twig filer för att bygga en webbplats. </p>
    </div>
{% endblock %}